/* || GENERAL STYLES */

body {
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

:is(h1, h2, h3, h4, h5) {
    font-family: "Frank Ruhl Libre", serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.02em;
}

p   {
    font-family: "Fira Sans", sans-serif;
}

a   {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 600;
}

.btn {
    width: 129px;
    height: 29px;
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 10px;
    margin: 10% 0;
  } 



/* || Typography */

.black  {
    color: #000000;
 }

.white  {
    color: #FFFFFF;
}

.big-header {
    font-size: 45px;
    line-height: 45px;
}

.sub-header {
    font-size: 32px;
    line-height: 41px;
    color: #FFFFFF;
}

.topic-header {
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    margin: 30px 0 0 0;
}

.numbers  {
    color: rgba(0, 0, 0, 0.4);
    font-size: 35px;
    align-self: flex-start;
    margin: 0;
}

.description  {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

.specification {
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    padding: 0 20px;
} 

.tiny-text {
    font-weight: bold;
    font-size: 11px;
}

.instructions {
    font-size: 17px;
    line-height: 20px;
    margin: 20px 60px;
}

span {
    color: #FFFFFF;
}

.contact-text {
    color: #ffffffd7;
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: -0.02em;
    
}

::placeholder {
    font-family: "Fira Sans";
    color: #000000;
	padding-left: 10px;
    padding-top: 10px;
}



/* || Header */

.big-blue-box {
    background-color: #C7DDEA;
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
}

.picture-family {
    max-width: 286px;
    height: auto;
    align-self: flex-end;
    margin: 0;
    
  }

.red-box,
.orange-box {
    width: 100%;
    padding: 30% 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.red-box h3{
    margin: 0;
}

.red-box {
    background-color: #F17949;
}

.orange-box h3 {
    margin: 0;
}
  
.orange-box {
    background-color: #FAB131;
}

.nav-bar  {
    display: none;
}



/* || Main */

.grey-box,
.faces {
    height: fit-content;   
    padding: 5%;
    background-color: #A9A19E;
    margin: 0;
}

.faces  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.avatar-box {
    width: 256px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.faces .specification   {
    margin-bottom: 50px;
}

.avatar {
    width: 236px;
    height: 150px;
    border-radius: 4px;
    margin: -20px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10px;
}

.boy  {
    background-color: #C7DDEA;
    background-image: url(img/child.png);
    background-size: 40%;
}

.woman {
    background-color: #FAB131;
    background-image: url(img/adult.png);
    background-size: 40%;
}

.grandpa {
    background-color: #F17949;
    background-image: url(img/old.png);
    background-size: 65%;
}

.yellow-box {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 35px 90px 35px;
    background-color:#FAB131;
    text-align: center;
}

.steps > div {
    min-height: 170px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.steps .instructions    {
    margin: auto;
}

.small-blue-box {
    background-color: #C7DDEA;
}

.box-1,
.box-3,
.box-5  {
    background-color: #FFFFFF;
}

.box-2  {
    background-color: #EBEBEB;
}

.box-4  {
    background-color: #F17949;
}



/* || Footer */

.footer {
    background-color: #777574;
    min-height: 218px;
}

.take-me-up {
    display: none;
}



/* || Contact HTML */

.contact-header {
    text-align: center;
}

.dad-son {
    width: 60%;
    max-width: 100px;
    height: auto;
    align-self: center;
  }

.contact-box   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.email,
.message-field  {
    background: #FEFEFE;
    border-radius: 2px;
    border: none; 
    width: auto;
    min-width: 200px;
    padding: 10px;
    resize: none;
}

.message-field  {
    height: 166px;
    text-align: start;
}

address    {
    font-style: normal;
}

.map  {
    background-image: url(img/Rectangle6.png);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
}

.coordinates {
    background-color: #FAB131;
    max-height: 150px;
    margin: 5%;
    padding: 0 20px;
    color:rgba(255, 255, 255, 0.8);
    text-align: left;
    width: fit-content;
}

.coordinates h2 {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
}

.coordinates .description {
    margin: 20px 0;
    font-size: 10px;
    line-height: 11px;
}






/* || Desktop version */

@media only screen and (min-width: 650px)   {
    
    /* || GENERAL STYLES */

    body  {
       background-color: #E5E5E5;
       max-width: 1000px;
       margin: auto;
    }

    h1 {
        margin: 10%;
        margin-bottom: 20px;
    }

    .btn    {
        margin-left: 10%;
    }



    /* || Typography align */

    .description  {
        margin: 0 30% 2% 10%;
    }

   

    /* || Header */

    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; 
        margin: auto;
    }

    .big-blue-box  {
        grid-column: 1;
        grid-row: 1 / span 2;
        padding-bottom: 0;
        height: fit-content;
    }

    .big-blue-box .btn {
        margin-bottom: 0;
    }

    .picture-family {
        width: 70%;
        margin-top: -10%;
    }

    .red-box,
    .orange-box {
        height: auto;
        margin: 0;
        padding: 0;
    }    



    /* || Nav */

    .nav-bar    {
        display: flex;
        justify-content: space-between;
    }

    .main-nav  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 0;
        list-style-type: none;        
    }

    li a  {
        margin: 30px 60px;
        line-height: 50px;
        text-align: center;
        font-size: 12px;
        opacity: 0.7;
    }

    li a:hover    {
        color: #000000;
    }



    /* || Main */

    .grey-box   {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .grey-box  h2   {
        margin: 10%;
        grid-column: 1;
        grid-row: 1;
    }

    .grey-box .btn  {
        margin-top: -15%;
        margin-bottom: 10%;
        grid-column: 1;
        grid-row: 2;
    }

    .grey-box .description  {
        width: fit-content;
        margin: 10%;
        grid-column: 2;
        grid-row: 1;
    }

    .faces  {
        height: 30%;
        margin-bottom: -18%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 5%;
    }

    .avatar-box  {
        margin: 20px;
        max-width: 230px;
        width: auto;
    }

    .avatar   {
        width: 90%;
        height: 120px;
        border-radius: 4px;
        margin: -20px;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 10px;
    }

    .yellow-box {
        padding: 20% 0;
        text-align: center;
    }

    .yellow-box p   {
        margin: 0 25%;
    }

    .steps  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .steps > div {
        padding: 10%;
        box-sizing: content-box;
        display: flex;
        justify-content: flex-start;
    }



    /* || Footer */

    .take-me-up {
        background-color: #A9A19E;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none; 
    }    



    /* || Contact HTML */
 
    header.big-blue-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto; 
        margin: auto;
    }

    .contact-header {
        grid-column: 1 / span 2;
        margin-right: 15px;
        margin-bottom: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .dad-son  {
        grid-column: 3;
        margin: 0 25%;
    }
    
    .contact-box    {
        padding-right: 15%;
    }

    .contact-box h2	{
        grid-column: 1;
        grid-row: 1;
        margin: 5%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mail {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .message {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
    }

    .message .btn {
        margin: 12% 0;
    }

    .email,
    .message-field  {
        width: 300px;
    }

    
    .map  {
        background-repeat: no-repeat;
        height: 400px;
        position: relative;
    }

    .coordinates    {
        width: fit-content;
        text-align: left;
        padding-bottom: 5%;
        position: absolute;
        left: 10%;
        top: 10%;
        margin: 0;
    }

    .coordinates h2 {
        margin: 20px 0;
        font-size: 45px;
    }
    
    .coordinates .description {
        margin: 20px 0;
        font-size: 14px;
        line-height: 24px;
    }

}