* {
	margin: 0;
	padding: 0;
	outline: none;
}

section {
	width: 1002px;
	margin-left: auto;
	margin-right: auto;
}
		.top {
			display: flex;
			flex-wrap: wrap;
			background-color: #c7ddea;
		}

		.hello {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			min-width: 334px;
			width: 70%;
			padding: 70px 0px 0px 35%;
		}

		.hello p {
			font-family: Frank Ruhl Libre;
			font-style: normal;
			font-weight: 900;
			font-size: 45px;
			line-height: 100%;
			letter-spacing: -0.02em;
			color: #000000;
		}
		.image {
			position: relative;
			display: block;
			width: 30%;
		}
		.papa {
			position: relative;
			padding-top: 119px;
			z-index: 1;
		}

		.son {
			position: relative;
			vertical-align: top;
			top: 40px;
			right: 132px;
			text-align: start;
			z-index: 2;
		}

		.navmenu {
			box-sizing: flex;
			background-color: #fff;
			max-width: 1002px;
			margin: 10px;
		}
		ul {
			text-align: center;
		}
						
		li {
			display: inline-block;
			width: 150px;
		}

		a {
			justify-content: stretch;
			text-decoration: none;
			font-family: Fira Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 100%;
			letter-spacing: -0.02em;
			opacity: 0.4;
		}
		a:active {
			color: black;
		}
		.yourmind {
			display: flex;
			flex-wrap: wrap;
			max-height: 544px;
			min-height: auto;
		}
		.mind {
			background: #a9a19e;
			width: 50%;
			min-width: 334px;
			height: 544px;
			min-height: auto;
		}
		.mind h2 {
			max-width: 300px;
			margin: 106px 0px 0px 90px;
			font-family: Frank Ruhl Libre;
			font-style: normal;
			font-weight: 900;
			font-size: 45px;
			line-height: 100%;
			letter-spacing: -0.02em;
			color: #ffffff;
		}
		.form {
			background: #a9a19e;
			width: 50%;
			min-width: 334px;
			max-height: 544px;
		}
		.mail {
			margin-top: 120px;
			width: 344px;
		}
		.mail input {
			width: 250px;
			height: 30px;
			border-radius: 2px;
			margin-bottom: 20px;
			border-style: none;
			margin-bottom: 30px;
		}
		.message textarea {
			width: 250px;
			height: 170px;
			border-style: none;
			border-radius: 2px;
		}
		p {
			font-family: Fira Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 100%;
			display: flex;
			align-items: center;
			letter-spacing: -0.02em;
			color: #ffffff;
			opacity: 0.7;
			margin-bottom: 5px;
		}
		textarea {
			width: 334px;
			resize: none;
			font-family: Fira Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: -0.02em;
			color: #000000;
		}
		::placeholder {
			color: black;
			padding-left: 10px;
			padding-top: 10px;
		}
		button {
			width: 131px;
			padding: 10px;
			border-radius: 20px;
			margin: 20px 119px;
			background-color: #fff;
			align-items: center;
			font-family: Fira Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 10px;
			line-height: 12px;
			display: flex;
			text-transform: uppercase;
			border-style: none;
			color: rgba(0, 0, 0, 0.8);
			text-align: justify;
				
		}
.footer {
	position: relative;
	width: 1002px;
	height: 407px;
}

.mapsimage {
	min-width: 334px;
	height: 407px;
	background-image: url("img/Rectangle\ 6.png");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}
.mapsdot {
	position: relative;
	display: block;
	width: 70px;
	height: 150px;
	background-repeat: no-repeat;
	margin-top: -280px;
	margin-left: 411px;
	z-index: 2;
}
.yellowitem {
	width: 323px;
	height: 206px;
	background: #fab131;
	margin-left: -360px;
	margin-top: -200px;
	text-align: center;
}
.yellowitem h1 {
	padding-top: 20px;
	font-family: Frank Ruhl Libre;
	font-style: normal;
	font-weight: 900;
	font-size: 45px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: #ffffff;
}

.last-background {
	height: 340px;
	background: #777574;
	width: 1002px;
	min-width: 344px;
}
address {
	padding: 10px 0px 0px 35px;
	text-align: left;
	width: 180px;

	font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.8);

}